<div class="container p-5">
  <h1 class="text-center">About</h1>
  <div class="row justify-content-center mt-5 mb-2">
    <p class="text-center">
      ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。
    </p>
  </div>

  <div class="mx-auto" style="width:450px; height:250px; background-image:url(<%= asset_path "cupcakes.jpg" %>); background-size:cover; background-position:center"></div>
</div>