<div class="card">
  <span class="card-header text-center">ジャンル検索</span>
  <div class="card-body p-3">
    <% genres.each do |genre| %>
     <%# link_to (path) do %>
     <p class="card-text"><%= genre.name %></p>
     <%# end %>
    <% end %>
  </div>
</div>
